<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="https://apply.v12finance.com/JavascriptGateway/JSCalc/CalculatorScript?retailerId=32682&amp;retailerGuid=faaad9a9-833b-4250-9e98-40b25687763b"></script>
    <script src="/JavascriptGateway/bundles/thirdparty?v=5QtWcv6ISuMWICsKBqhFMFEfD24pdttNrxP0WKlNRv01"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
  </head>
  <body>
    <div class="banner">
      <a href="https://hayballcyclesport.co.uk/" class="go-back-button">Return to shop</a>
      <a href="https://hayballcyclesport.co.uk/"><img
        src="https://images.squarespace-cdn.com/content/v1/61ab744aa0235375fe5bbeb9/01634e02-46f1-43b6-8f6b-91dd73abaf90/Hayball+Logo+SuperRes.png?format=1500w"
        alt="Logo"
        href="https://hayballcyclesport.co.uk/"
      /></a>
      
    </div>
    <div class="center-content">
<h2>Hayball Cyclesport Finance Application Centre</h2>
    <img src={{ session["bikeImgUrl"] }} style="max-width: 300px;"> 
    
    <h2>This is a finance application for: {{ session["bike_name"] }}</h2>
    <h3>
      To begin your finance application please select an available finance
      product, then choose a deposit amount between 10% and 50%.
      <br>To preview the finance options available, please use the calculator below.
    </h3>
    </div>
    

    <form action="" method="POST">
      <div class="dropdown-container">
        <label for="product-dropdown">Select a Product</label>
        <select name="product-dropdown" id="product-dropdown">
          {% for x in range(0,session["products-list"]|length): %}
          <option value="{{session['id-list'][x]}}">
            {{session["products-list"][x]}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="deposit-values center-content">
<h2>Price of Bike: £{{session["cash-price"]}}</h2>

      <h1>Enter a Deposit</h1>

      <!-- Input slider with range from 0 to 15000 -->
      <input type="range" id="slider" name="deposit-input" min={{
      (session["cash-price"]|int//10) }} max={{ session["cash-price"]|int/2 }}
      step="50" value="{{ (session["cash-price"]|int//10) }}">
      
      <input type="number" id="deposit-input" name="deposit-input" min={{ (session["cash-price"]|int//10) }} max={{ session["cash-price"]|int/2 }} step="1" value="{{ (session["cash-price"]|int//10) }}">

      <!-- Display the selected value -->
      <p>
        Chosen deposit amount: £
        <span id="slider-value">{{ (session["cash-price"]|int//10) }}</span>
      </p>

      <!-- Input field for deposit amount -->

      <button type="submit">Complete application on V12 Finance</button>
      </div>
      
      <script>
        // Get the slider element and the span to display the value
const slider = document.getElementById("slider");
const sliderValue = document.getElementById("slider-value");
const depositInput = document.getElementById("deposit-input");

// Update the displayed value when the slider is moved
slider.addEventListener("input", function () {
  sliderValue.textContent = slider.value;
  depositInput.value = slider.value;
});

// Update the slider value when the input field is changed
depositInput.addEventListener("input", function () {
  slider.value = depositInput.value;
  sliderValue.textContent = depositInput.value;
});
      </script>

    </form>

    <div
      class="section"
      style="
        border: 2px solid #123156;
        border-radius: 10px;
        margin-top: 20px;
      "
    >
      <h2 style="font-size: 1.5rem; color: #123156">
        Use this calculator to see which finance option suits your purchase.
      </h2>

      <div class="section">
        <label>Cash Price (&pound):</label>
        <input type="text" id="cashPrice" value="2000" />
        <br />
        <input type="range" id="cpRange" min="250" max="15000" value="2000" />
      </div>
      <div class="section">
        <label>Deposit (%):</label>
        <input type="text" maxlength="2" id="deposit" value="0" />
        <br />
        <input type="range" id="depRange" min="0" max="99" step="1" value="0" />
      </div>
      <div class="section">
        Finance is subject to status. Terms and conditions apply.
      </div>
      <div class="section">
        <select id="productsList"></select>
      </div>
      <div class="breakdown">
        <label id="lblCashPrice"></label><br />
        <label id="lblDeposit"></label><br />
        <label id="lblAmountCredit"></label><br />
        <label id="lblRepayable"></label><br />
        <label id="lblApr"></label><br />
        <label id="lblAnnualRate"></label><br />
        <label id="lblArrangementFee"></label><br />
        <label id="lblSettlementFee"></label><br />
        <label id="lblTotalRepayable"></label><br />
        <label id="lblBnpl"></label><br />
      </div>
        <button title="Click to select the finance product with the lowest monthly repayment" id="lowestMonthlyPayments" href="#">Lowest Monthly Repayment</a>
      </div>
    </div>

      <button onclick="window.location.href='https://hayballcyclesport.co.uk/'">Return to shop</button>

  </body>
</html>
